.infoCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
}

.serviceImageWrapper {
  display: flex;
  height: auto;
  margin-bottom: 20px;
  width: 200px;
}

.serviceImage {
  height: auto;
  object-fit: cover;
  width: 100%;
}