.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.mainWrapper {
  display: flex;
  font-weight: bold;
  gap: 25px;
  justify-content: space-between;
  margin-top: 76px;
  padding: 0px 12px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .mainWrapper {
    flex-direction: column;
    gap: 0;
    padding: 24px;
    margin: 0;
  }
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
}

@media (max-width: 468px) {
  .heroWrapper {
    width: 100%;
  }
}

.landingTitle {
  color: white;
  font-size: 4rem;
}

@media (max-width: 1440px) {
  .landingTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .landingTitle {
    font-size: 2rem;
  }
}

.landingSubtitle {
  color: #2C85D3;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .landingSubtitle {
    font-size: 1rem;
  }
}

.mainWrapper button {
  align-self: flex-start;
  display: flex;
  margin-top: 24px;
  width: 128px;
}

.sideContainer {
  color: rgb(165, 165, 165);
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 50px;
  width: 50%;
}

.sideCard {
  align-items: center;
  display: flex;
  gap: 32px;
}

@media (max-width: 1024px) {
  .sideContainer {
    width: 100%;
  }
}

.sideCard {
  background-color: #38bff80c;
  border-left: 2.5px solid turquoise;
  box-shadow: 5px 7px #07111c;
  padding: 15px;
}

@media (max-width: 1024px) {
  .sideCard {
    height: 60px;
  }
}

.sideCard:hover {
  background: linear-gradient(200deg, #38bff821 20%, #38bff83f 90%);
  background-color: #38bff850;
  transition: all 300ms ease-in;
}

